body {
  font-family: Open Sans, sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}

.TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453C52;
  font-weight: 600;
  margin-bottom: 12px;
}

.TodoSectionTitle {
  display: flex;
  color: #453C52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;  
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453C52;
}

.TodoItem-overdueLabel {
  margin-left: 10px;
  color: #C53030;
  font-size: 12px;
}

.TodoItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
}


.TodoItem-container:hover {
  background-color: #F1EDF7;
}

.TodoItem-delete > img  {
  width: 16px;
}

.TodoItem-delete {
  visibility: hidden;
  margin-left: 8px;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}


.TodoItem-checkbox {
  width: 16px;
  height: 16px;
}

.TodoSection {
  margin-bottom: 20px;
}

.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC;
}

.AddTodo-button {
  font-size: 14px;
  color: white;
  background-color: #48BB78;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}
/* Typography Scale 
48px
34px
24px
20px
16px
*/